root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{.babelrc,composer.lock,.stylelintrc,jest.config,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_size = 2

[{*.js.map,*.js}]
indent_size=2

[*.scss]
indent_size=2

[{*.yml,*.yaml}]
indent_size=2

